<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <head>
        <title>Blog system</title>
        <meta charset="utf-8">
    </head>
    <body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/blog/{{request.user}}"><span>{{blog.title}}<br><small>{{blog.desc}}</small></span></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="/post/create/">Post</a>
                    </li>
                    <li>
                        <a href="/blog/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/blog/">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
            
                {% if request.user.is_authenticated %}
                
                <form role="form" id="create_post_form" action="/post/create/" method="post">
                    <div class="form-group">
                    <label for="title">title:</label>
                    <input class="form-control" type="text" name="title" value="" id="title"> <br />

                    <label for="content">content:</label>
                    <textarea class="form-control" rows="5" name="content" value="" id="content"></textarea> <br />
                    <hr>
                    <label for="docfile">attachment:</label>
                    <input id="docfile" type="file" name="docfile" multiple="multiple">

                    <label for="category">Select category:</label>
                    <select class="form-control" id="category" name="category">
                        {% for cat in category %}
                        <option>{{cat.name}}</option>
                        {% endfor %}
                    </select>
                    <label for="tag">tag:</label>
                    <input class="form-control" type="text" name="tag" value="" id="tag"> <br />
                    </div>
                    <input class="btn btn-primary" id="submit_create_post" type="submit" value="Submit" />
                </form>
                {% else %}
                    <a href="/blog/">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
    <script type="text/javascript" src="{% static 'jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app.js' %}"></script>
</html>