<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <head>
        <title>Blog system</title>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/blog/{{request.user}}"><span>{{blog.title}}</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li>
                            <a href="/post/create/">Post</a>
                        </li>
                        <li>
                            <a href="/blog/logout/">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="/blog/">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-md-8">
                {% for post in post_list %}
                <h2>
                    <a href="#">{{ post.title }} </a>
                </h2>
                <p class="lead">
                    Posted by <a href="index.php">{{ post.author.owner.username }}</a> on {{ post.created_at }}
                </p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{ post.content }}</p>
                {% for tag in category %}
                    {{tag.tag}}</br>
                {% endfor %}
                

                <a class="btn btn-primary" href="/blog/{{request.user.username}}/{{ post.pk }}">Read More</a>
                {% if request.user.is_authenticated %}
                    <a class="btn btn-warning" href="/post/update/{{request.user.username}}/{{ post.pk }}">Edit</a>
                    <a class="btn btn-danger" href="/post/delete/{{request.user.username}}/{{ post.pk }}">Delete</a>
                {% endif %}
                <hr>
                    <div>
                    {{ post.photo }}
                    </div>
                {% endfor %}
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h4>Blog Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    {% for category in category %}
                                    <li><a href="/blog/{{request.user.username}}?cat={{category.pk}}">{{category.name}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    
                    </div><!-- /.well -->
                    <div class="well">
                        <h4>Tags</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    {% for tag in blogtags %}
                                    <li><a href="/blog/{{request.user.username}}?tag={{tag.tag}}">{{tag.tag}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.well -->
                </div><!-- /.col-md-4 -->
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
</html>