<!DOCTYPE html>
<html>
    
    <head>
        <title>Blog system</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>{{blog.title}}</h2>
            {% if request.user.is_authenticated %}
            {% else %}
                <p>Login here: <a href="/blog/">Login</a></p>
            {% endif %}
            {{blog.title}}
            <p>
                {% if request.user.is_authenticated %}
                Welcome, {{request.user}}. <a href="/blog/logout/">Logout</a>
                <a href="/post/create/">Post</a>
                {% endif %}
                {% for post in post_list %}
                    <div>
                    {{ post.title }}
                    {{ post.content }}
                    {{ post.tags }}
                    {{ post.created_at }}
                    {{ post.photo }}
                    {% if request.user.is_authenticated %}
                        </br>
                        <a href="/blog/{{request.user.username}}/{{ post.pk }}">More...</a>
                        <a href="/post/update/{{request.user.username}}/{{ post.pk }}">Edit</a>
                        <a href="/post/delete/{{request.user.username}}/{{ post.pk }}">Delete</a>
                    
                    {% endif %}
                    </div></br>
                {% endfor %}
                
            </p>
    </body>
</html>