<!DOCTYPE html>
<html>
    <head>
        <title>This is a blog system</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <label for="username">username:</label>
            <input type="text" name="username" value="" id="username"> <br />
            <label for="password">password:</label>
            <input type="password" name="password" value="" id="password"> <br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>