<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load staticfiles %}
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <head>
        <title>This is a blog system</title>
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#top"><span>Blog</span></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-ex-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                                {% if form.errors %}
                                    <p>Your username and password didn't match. Please try again.</p>
                                {% endif %}
                                    <form id="login_form" action="/blog/" method="post">
                                        {% csrf_token %}
                                        <label for="username">username:</label>
                                        <input class="form-control" type="text" name="username" value="" id="username"> <br />
                                        <label for="password">password:</label>
                                        <input class="form-control" type="password" name="password" value="" id="password"> <br />
                                        <input class="btn btn-default" type="submit" value="Submit" />
                                    </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
    
    <script type="text/javascript" src="{% static 'jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
</html>